<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="script.js" defer ></script>

</head>

<body>



  <!-- <div id="app">
    <img v-bind:src="imageUrl" width="200">
  </div> -->

  <!-- <div id="app">
  <button v-on:click="sayHello">
    Click Me
  </button>
</div> -->


<!-- <div id="app">
  <h1>{{ count }}</h1>

  <button @click="count++">
    Increment
  </button>
</div> -->

<!-- <div id="app">

  <input v-model="name">

  <h2>Hello {{ name }}</h2>

</div> -->


<!-- <div id="app">

  <button @click="show=!show">
    Toggle
  </button>

  <h1 v-if="show">
    Welcome Students
  </h1>

</div> -->

<!-- <div id="app">

  <ul>
    <li v-for="fruit in fruits">
      {{ fruit }}
    </li>
  </ul>

</div> -->


<!-- <div id="app">

  <h1>Student Profile</h1>

  <input v-model="name" placeholder="Name">

  <input v-model="course" placeholder="Course">

  <h2>{{ name }}</h2>

  <p>{{ course }}</p>

</div> -->


<!-- <div id="app">

  <h1>Vue Demo</h1>

  <input v-model="newTask">

  <button @click="addTask">
    Add
  </button>

  <ul>
    <li v-for="task in tasks">
      {{ task }}
    </li>
  </ul>

  <p v-if="tasks.length === 0">
    No Tasks
  </p>

</div> -->


<h2>Without Vue</h2>
<div id="app1"></div>

<h2>With Vue</h2>
<div id="app">
  {{ count }}
</div>

</body>

</html>




